{% load static %}
<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <title>Statistics Simulator</title>
        <link rel="stylesheet" href="{% static 'statVisualiser/styles.css' %}">
    </head>
    <body>
        <div class="title_bar">
            <h1>  Stats & Stuff</h1>
        </div>
        <div class="navbar">
            <ul>
                <li><a class="active" href="/statVisualiser">Home</a></li>
                <li><a href="/statVisualiser/distributions">Distributions</a></li>
                <li><a href="/statVisualiser/largeNumbers">The Law of Large Numbers</a></li>
                <li><a href="/statVisualiser/generatingSamples">Create Samples</a></li>
                <li><a href="/statVisualiser/about">About</a></li>
                <li><a href="https://github.com/ltptnt/StatSite">Github</a></li>

            </ul>
        </div>
        <div class="text">
        <h3>
            SAMPLE TEXT TO TEST FUNCTIONALLITY


            def index(request):
                graph = ""
                if request.method == "POST":
                    form = Picker(request.POST)
                    if form.is_valid():
                        data_id = int(str(form.cleaned_data.get("Data")))
                        equation_name = form.cleaned_data.get("Equation")
                        data = Data.objects.get(id=data_id).data
                        model = StatModel.objects.get(name=equation_name).id
                        graph = makeGraph(model, data)
                models = StatModel.objects.all().values()
                data = Data.objects.all().values()
                data_picker = Picker()
                template = loader.get_template('statVisualiser/index.html')
                context = {
                    'models': models,
                    'data': data,
                    'picker': data_picker,
                    'graph' : graph,
                }
                return HttpResponse(template.render(context, request))


            def Exponential(request):
                pass



            def makeGraph(model, data):
                data = data.split(",")
                if model == 1:
                    x = np.linspace(-5, 5, 100)
                    y = x ** 2
                if model == 0:
                    x = np.linspace(-5, 5, 100)
                    y = x

                fig = plt.figure()
                ax = fig.add_subplot(1, 1, 1)
                ax.spines['left'].set_position('center')
                ax.spines['bottom'].set_position('zero')
                ax.spines['right'].set_color('none')
                ax.spines['top'].set_color('none')
                ax.xaxis.set_ticks_position('bottom')
                ax.yaxis.set_ticks_position('left')

                # plot the function
                fig = plt.figure()
                plt.plot(x, y, 'r')

                imgdata = StringIO()
                fig.savefig(imgdata, format='svg')
                imgdata.seek(0)

                data = imgdata.getvalue()
                return data

        </h3>
        </div>

    </body>
</html>