{% extends "statVisualiser/base.html" %}

{% block title %}Distributions{% endblock title %}

{% block content %}
    <div id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/distributions">Distributions</a></li>
            <li><a href="/largeNumbers">The Law of Large Numbers</a></li>
            <li><a href="/generatingSamples">Create Samples</a></li>
            <li><a href="https://github.com/ltptnt/StatSite">Github</a></li>
        </ul>
    </div>
    <div class="messages">
        {% for message in messages %}
            <div class="{{ message.tags }}">
                <span class="alert_close">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="page_title">
        <h1>Distributions</h1>
        <h2>A Distribution Visualiser</h2>
    </div>
    <div class="blurb">
        <hr>
        <p>
            On this page you can generate up to two distributions, where you have the following visualisation options:
        </p>
        <ul>
            <li>Plot the PDF/PMF depending on the variable.</li>
            <li>Plot the CDF of each variable.</li>
            <li>Plot the convolution of the two variables, either as a sum or a product</li>
        </ul>

        <hr>
    </div>

    <div class="database">
        <h2 class="centered">Distributions</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Continuous</th>
                    <th>Supported Region</th>
                </tr>
            </thead>
            <tbody>
                {% for x in dist %}
                <tr>
                    <td>{{ x.name }}</td>
                    <td>{{ x.continuous }}</td>
                    <td>{{ x.supported_region }}</td>
                    <td id="{{ x.name }}" style="display: none">{{ x.required_variable_names|stringformat:'a' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>
    <div class="spacer">
    <div style="flex: 50%">
        <form method="post">
        <div class="spacer">
            <div class="picker" style="flex: 50%">
                <h2 class="centered">Distribution 1</h2>
                <hr>
                    {% csrf_token %}
                    {{ picker1.as_p }}
            </div>
            <div class="picker" style="flex: 50%">
                <h2 class="centered">Distribution 2 <i style="color: #cccccc">(Optional)</i></h2>
                <hr>
                    {{ picker2.as_p }}
            </div>
        </div>
    <div class="spacer">
        <div style="flex: 100%">
            <hr>
            <h2 class="centered" style="font-size: 19px">Convolution <i style="color: #cccccc">(Optional)</i></h2>
            <hr>
            <div class ="blurb">
                Choose whether the convolution is a product or a sum.
            </div>
            {{ convol.as_p }}
        </div>
    </div>
    <div style="width: 90%; margin: auto">
    <hr>
        <input class="centered" type="submit" name="submit" value="Submit">
        <input class="centered" type="submit" name="clear" value="Clear">
    </div>
        </form>
    </div>
    <div style="flex: 50%">
        <div class="tab_bar">
            <button id='g1_tab' class="tab_button" onclick="changeTab('g1')">Single Variable</button>
            <button id='g2_tab' class="tab_button" onclick="changeTab('g2')">Joint Distribution</button>
            <button id='g3_tab' class="tab_button" onclick="changeTab('g3')">Joint Supported Region</button>
        </div>

        <div id="g1" class="tab">
            <div id="g1_plot" class="graph">
                {% if graph %}
                    {{ graph|safe }}
                {% else %}
                    <div class="blank_graph">Please enter parameters to see a Graph!</div>
                {% endif %}
            </div>
            <button class="open_graph centered" onclick="openGraph('g1_plot')">Open in new tab</button>
        </div>

        <div id="g2" class="tab">
            <div id="g2_plot" class = "graph">
                {% if conv_graph %}
                    {{ conv_graph|safe }}
                {% else %}
                    <div class="blank_graph">Please enter parameters to see a Graph!</div>
                {% endif %}
            </div>
        <button class="open_graph centered" onclick="openGraph('g2_plot')">Open in new tab</button>
        </div>

        <div id="g3" class="tab">
             <div id="g3_plot" class = "graph">
                {% if supported %}
                    {{ supported |safe }}
                {% else %}
                    <div class="blank_graph">Please enter parameters to see a Graph!</div>
                {% endif %}
            </div>
        <button class="open_graph centered" onclick="openGraph('g3_plot')">Open in new tab</button>
        </div>
    </div>
    </div>
{% endblock content %}