{% extends "statVisualiser/base.html" %}

{% block title %}Generate Sample{% endblock title %}

{% block content %}
    <div class="navbar">
        <ul>
            <li><a href="/statVisualiser">Home</a></li>
            <li><a href="/statVisualiser/distributions">Distributions</a></li>
            <li><a href="/statVisualiser/largeNumbers">The Law of Large Numbers</a></li>
            <li><a class="active" href="/statVisualiser/generatingSamples">Create Samples</a></li>
            <li><a href="https://github.com/ltptnt/StatSite">Github</a></li>

        </ul>
    </div>
    <div class="page_title">
        <h1>Create Samples</h1>
        <h2>Generate sample datasets</h2>
    </div>
    <div class="blurb">
        <p>
            On this page, you can generate your own sample dataset of 1 or 2 independent random variables from the table below.
            Fill out the forms below to generate your dataset.
        </p>
        <p>
            The standard error parameter lets you add more "noise" to a sample. This random error term is a standard normal with an input standard deviation. Note: this feature may be problematic around values of 0.
        </p>
    </div>


    <div class="database">
        <h2 class="centered">Distributions</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Continuous</th>
                    <th>Variable Count</th>
                    <th>Supported Region</th>
                    <th>Required Variables</th>
                </tr>
            </thead>
            <tbody>
                {% for x in dist %}
                <tr>
                    <td>{{ x.name }}</td>
                    <td>{{ x.continuous }}</td>
                    <td>{{ x.supported_region }}</td>
                    <td>{{ x.required_variable_count }}</td>
                    <td id="{{ x.name }}">{{ x.required_variable_names|stringformat:'a' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="graph">
        <div class="graph">
            {% if graph1 %}
                {{ graph1|safe }}
            {% else %}
                <div id="blank_graph" style="display: none">Please enter parameters to see a Graph!</div>
            {% endif %}
        </div>

        <div class="graph">
            {% if graph2 %}
                {{ graph2|safe }}
            {% else %}
                <div id="blank_graph" style="display: none">Please enter parameters to see a Graph!</div>
            {% endif %}
        </div>

        <div class="graph">
            {% if graph3 %}
                {{ graph3|safe }}
            {% else %}
                <div id="blank_graph" style="display: none">Please enter parameters to see a Graph!</div>
            {% endif %}
        </div>
    </div>
    <div class="spacer">
        <div class = "gspicker col">
            <form method="post">
                {% csrf_token %}
                <h2 class="centered">Distribution 1</h2>
                {{ picker1.as_p }}
                <h2 class="centered">Dataset 1 Parameters</h2>
                {{ data1.as_p }}
            </form>
        </div>
        <div class = "gspicker col">
            <form method="post">
                <h2 class="centered">Distribution 2</h2>
                {{ picker2.as_p }}
                 <h2 class="centered">Dataset 2 Parameters</h2>
                {{ data2.as_p }}
            </form>
        </div>
    </div>
    <div class="gspicker2">
        <form method="post">
            <h2 class="centred">Optional Operations </h2>
            <div class="blurb">
                <p>
                    Enabling the convolution will plot a density heatmap of the product of your two chosen variables.
                    This feature works better with the same number of trials for each variable.
                </p>
                <p>
                    If you would like to download your own data, check the download box.
                    Note: this will leave the graphs blank, so re-enter it without the download to see the graphs of a sample.
                </p>
            </div>
            {{ download.as_p }}
            <input class="centered" type="submit" value="Submit">
        </form>
    </div>

{% endblock content %}>
