{% extends "statVisualiser/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="navbar">
        <ul>
            <li><a class="active" href="/statVisualiser">Home</a></li>
            <li><a href="/statVisualiser/distributions">Distributions</a></li>
            <li><a href="/statVisualiser/largeNumbers">The Law of Large Numbers</a></li>
            <li><a href="/statVisualiser/generatingSamples">Create Samples</a></li>
            <li><a href="https://github.com/ltptnt/StatSite">Github</a></li>

        </ul>
    </div>
    <div class="page_title">
        <h1>Stats & Stuff</h1>
        <h2>By Chris and Luke</h2>
    </div>
    <div class="blurb">
        <p>
            Welcome to stats n stuff, a webapp which allows you to mess around with some basic statistical models:
        </p>
        <h2>Distributions</h2>
        <p>
            Allows for rapid visualisation of some graphs, some basic computations surrounding each model,
            allows for examination of the convolution of two random variables.
        </p>
        <h2>The Law of Large Numbers</h2>
        <p>
            A demonstration of applying the law of large numbers to the binomial distribution when it is valid.
            This concerns both the normal and poisson approximations
        </p>
        <h2>Generate Dataset</h2>
        <p>
            Lets you quickly create your own dataset based on the statistical distributions, see how it compares
            to its distribution. You can download the data for other uses.
        </p>
    </div>
{% endblock content %}