{% extends "statVisualiser/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div id="navbar">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/distributions">Distribution Visualiser</a></li>
            <li><a href="/large_numbers">The Law of Large Numbers</a></li>
            <li><a href="/generating_samples">Create Samples</a></li>
            <li><a href="https://github.com/ltptnt/StatSite">Github</a></li>

        </ul>
    </div>
    <div class="page_title" style="padding-top:10px">
        <h1>Stats &amp; Stuff</h1>
        <h2>By Chris and Luke</h2>
    </div>
    <div class="blurb">
        <p>
           Welcome to Stats &amp; Stuff, a webapp that allows one to visualise a variety of basic statistical distributions.
        </p>
        <hr>
        <br>
        <h2><a class="link" href="/distributions">Distributions </a></h2>
        <hr>
        <p>
            This page is used to visualise the probability functions of a variety of distributions
and the convolution of two random variables. The convolution can be specified as a
sum or a product of the variables. The joint functions can then be viewed in an
approximation of the supported region.
        </p>
        <hr>
        <br>
        <h2><a class="link" href="/large_numbers">The Law of Large Numbers</a></h2>
        <hr>
        <p>
            Demonstrations of the application of the law of large numbers to the binomial
distribution. The demonstrations cover the cases where a normal and Poisson
distribution can be used to approximate the binomial distribution.
        </p>
        <hr>
        <br>
        <h2><a class="link" href="/generating_samples">Create Samples</a></h2>
        <hr>
        <p>
            Generates a custom dataset based on the user’s choice of distributions. It can be
used to generate up to two variables with an option to view a joint histogram. This
can be downloaded in the .csv format for personal use.
        </p>
        <hr>
        <h2> Glossary of figures available</h2>
        <hr>
        <ul>
            <li>PMF: Probability Mass Function. A function for discrete variables that returns
the probability of a given event occurring.
            <li>PDF: Probability Density Function. This is analogous to the PMF for
continuous variables; however, it indicates the probability density, not the
probability of a given outcome.</li>
            <li>CDF: Cumulative Density Function. This returns the cumulative probability for
a given input, i.e. the probability the variable will be less than the input value.</li>
        </ul>
        <p>For the discrete case, the CDF function sums over all values of the PMF up to the
input. For the continuous case, it integrates the variable&#39;s PDF over the region to the
input value.</p>
        <ul>
            <li>Supported region: Shows the values a given distribution can occupy with a
non-zero probability.</li>
            <li>Joint Probability Functions: The multidimensional case of the PDF and CDF.
This website supports up to 2 independent variables. The PDF is a product of
each variable&#39;s PMF/PDF.</li>
        </ul>
        <hr>
    </div>
{% endblock content %}