{% extends "statVisualiser/base.html" %}

{% block title %}Large Numbers{% endblock title %}

{% block content %}
    <div id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/distributions">Distribution Visualiser</a></li>
            <li><a class="active" href="/large_numbers">The Law of Large Numbers</a></li>
            <li><a href="/generating_samples">Create Samples</a></li>
            <li><a href="https://github.com/ltptnt/StatSite">Github</a></li>
        </ul>
    </div>
    <div class="messages">
        {% for message in messages %}
            <div class="{{ message.tags }}">
                <span class="alert_close">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="page_title">
        <h1>The Law of Large Numbers</h1>
            <h2>The Law of Large Numbers for the Binomial Distribution</h2>
    </div>
    <div class="blurb">
        <hr>
        <p>An interesting aspect of statistics is the behaviour of distributions as their parameters approach infinity. Under certain conditions, some distributions will converge towards another known distributions.
            The central limit theorem is an example of this, which states that for a given distribution:
            As the number of events in a sample increases, the mean of the sample will approach the true mean of the distribution.
            This site has some simulations that demonstrate this convergent behaviour for the binomial theorem.
        </p>
        <p>To apply the normal approximation to a binomial distribution, the following conditions must be fulfilled:</p>
        <ul>
                <li>n>10</li>

                <li>Approximations based on the laws of large numbers are more accurate as n increases. For a small number of trials, the number of datapoints is insufficient.</li>

                <li>np>5 and n(1-p)>5</li>
                <li>Confirms the distribution does not have a significant skew from symmetry </li>
        </ul>
        <hr>
    </div>

    <form method="post">
        <div class="spacer">
            <div class="lnpicker" style="flex: 50%">

                    {% csrf_token %}
                    <h2 class="centered">Normal Approximation to a Binomial distribution</h2>
                    {{ normal.as_p }}
                    <input class="centered" type="submit" value="Submit">

            </div>
            <div class="graph" style="flex: 50%">
            <div id="g1_plot">
                {% if normal_graph %}
                    {{ normal_graph|safe }}
                {% else %}
                    <div class="blank_graph">Please enter parameters to see a Graph!</div>
                {% endif %}
            </div>
            <button class="open_graph centered" onclick="openGraph('g1_plot')">Open in new tab</button>
            </div>
        </div>

        <div class="blurb">
            <hr>
            <p>
            The law of rare events describes the conditions under which a binomial distribution converges to a poisson distribution.
            As the number of trials in a binomial distribution increases, the distribution converges to the poisson distribution with a corresponding mean equal to np.
            To use this approximation in an applied context, the following conditions must be met to apply the approximation:
            </p>
            <ul>
                <li>n>20</li>

                <li>Approximations based on the laws of large numbers are more accurate as n increases.</li>

                <li>np<5, or n(1-p)<5</li>

                <li>This threshold represents the success or failure event respectively as sufficiently rare</li>
            </ul>
            <p>
            This approximation is computationally simple compared to the binomial distribution it approximates for a large number of trials.
            Fill out the information below to see the pdf of a binomial distribution and its corresponding poisson approximation.
            </p>
            <hr>
        </div>
        <div class="spacer">
            <div style="flex: 50%" class = "lnpicker">
                <h2 class="centered">Law of Rare Events</h2>
                {{ poisson.as_p }}
                <input class="centered" type="submit" value="Submit">
            </div>
            <div style="flex: 50%" class="graph">
                    <div id="g2_plot">
                    {% if poi_graph %}
                        {{ poi_graph|safe }}
                    {% else %}
                        <div class="blank_graph">Please enter parameters to see a Graph!</div>
                    {% endif %}
                    </div>
            <button class="open_graph centered" onclick="openGraph('g2_plot')">Open in new tab</button>
            </div>
    </form>

    <br>
{% endblock content %}