{% load static %}
<!DOCTYPE html>
<html lang="en-AU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Statistics Simulator</title>
    <link rel="stylesheet" href="{% static 'statVisualiser/styles.css' %}">
    <title>Title</title>
</head>
    <body>
    <div class="title_bar">
                <h1>  Stats & Stuff</h1>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="/statVisualiser">Home</a></li>
                    <li><a class="active" href="/statVisualiser/distributions">Distributions</a></li>
                    <li><a href="/statVisualiser/largeNumbers">Large Numbers</a></li>
                    <li><a href="/statVisualiser/wheelSpin">Wheel Spin</a></li>
                    <li><a href="/statVisualiser/about">About</a></li>
                    <li><a href="https://github.com/ltptnt/StatSite">Github</a></li>

                </ul>
            </div>
    <
    <p>A general blurb about what the law of large numbers is, normal to binomial</p>
        <div class = "picker">
            <form method="post">
                {% csrf_token %}
                <h2 class="centered">Normal Approximation to a Binomial distribution</h2>
                {{ normal.as_p }}
                <input class="centered" type="submit" value="Submit">
            </form>
        </div>
        <div class="normal_graph">
            {% if normal_graph %}
                {{ normal_graph|safe }}
            {% else %}
                <div id="blank_graph">Please enter parameters to see a Graph!</div>
            {% endif %}
        </div>

    <p>
        Stuff about the poisson approximation
    </p>
    <div class = "picker">
            <form method="post">
                {% csrf_token %}
                <h2 class="centered">Law of Rare Events</h2>
                {{ poisson.as_p }}
                <input class="centered" type="submit" value="Submit">
            </form>
        </div>
        <div class="poi_graph">
            {% if poi_graph %}
                {{ poi_graph|safe }}
            {% else %}
                <div id="blank_graph">Please enter parameters to see a Graph!</div>
            {% endif %}
        </div>

</body>
</html>