body {
    font-family:'Open Sans', sans-serif;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}

h1 {
    line-height:50px;
    font-weight:900;
    font-size:40px;
    text-transform:uppercase;
    color: #DCFDFDFF;
    margin: auto;
}

h2 {
    line-height:50px;
}

h3 {
    line-height:30px;
    padding-bottom:20px;
}
h4 {
    padding-top:10px;
    line-height:40px;
    padding-bottom:20px;
}

.graph {
    margin: auto;
    text-align: center;
    width: fit-content;
}

.centered {
    text-align: center;
}

.database {
    margin: auto;
    background: #ffffff;
    padding-bottom: 30px;
}

.picker {
    margin: auto;
    padding-top: 15px;
    width: 10%;
    text-align: center;
}

.title_bar {
    background: #111518;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
    margin-bottom: -20px;
}

.navbar {
    padding-bottom: 0;
    top: 0;
    position: sticky;
    position: -webkit-sticky /* For silly safari */ ;
}

.text {
    width: 200px;
}


.styled-table {
    text-align: center;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background: #ffffff;
}

.styled-table thead tr th {
    padding: 10px 10px;
}

.styled-table thead tr {
    background-color: #000000;
    color: #ffffff;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ffffff;
}

.styled-table tbody tr td {
    padding: 5px 10px;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #c9c9c9;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232a32;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ECF7FF;
    text-align: center;
    font-weight: 600;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #191f23;;
    color: #ECF7FF;
}

li a.active {
    background-color: #ECF7FF;
    color: #232A32;
}

.graph {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    width: 700px;
    height: 500px;
}

#blank_graph {
    line-height: 500px;
    width: 700px;
    height: 500px;
    background-color: #ECF7FF;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

input[type=number], select {
    border: 3px solid #83a2b7;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    outline: none;
}

input[type=number]:focus, select:focus {
    border: 3px solid #232A32;
}

input[type=submit] {
    background-color: #191f23;
    border: none;
    color: #dcfdfd;
    padding: 16px 32px;
     text-decoration: none;
    margin: 4px 2px;
     cursor: pointer;
}