body {
    font-family:Helvetica, sans-serif;
    margin: auto;
}

.content {
    max-width: 90%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
}

.title_bar h1 {
    line-height:30px;
    font-weight:900;
    font-size:30px;
    text-transform:uppercase;
    color: #DCFDFDFF;
    margin: auto;
}

p {
    font-size: 17px;
}

hr {
    border-top: 1px solid #d2d2d2;
    margin: 20px auto;
}

.inline {
    float: left;
}

/* Navigation Bar */

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232a32;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #ECF7FF;
    text-align: center;
    font-weight: 600;
    padding: 10px 14px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #191f23;;
    color: #ECF7FF;
}

.navbar li a.active, .tab_button.active, .tab_button.active:hover {
    background-color: #ECF7FF;
    color: #232A32;
}


/* Page Title */

.page_title {
    width: 90%;
    text-align: left;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 3px;
}

.page_title h1 {
    font-size: 30px;
}

.page_title h2 {
    line-height: 0;
    font-weight: lighter;
    color: #a6adb9;
    font-style: italic;
    font-size: 15px;
}

/* Blurb */

.blurb {
    margin: auto;
    text-align: left;
    align-content: center;
    max-width:90%;
}
#blurb::before{
    white-space: pre;
}

#blurb::after{
    white-space: pre;
}

.page_title p {
    line-height: 0;
}


/* Table */

.database {
    margin: auto;
    background: #ffffff;
    padding: 0 5%;
}

.styled-table {
    min-width: 500px;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background: #ffffff;
}

.styled-table thead tr th {
    padding: 6px 6px;
}

.styled-table thead tr {
    background-color: #000000;
    color: #ffffff;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ffffff;
}

.styled-table tbody tr td {
    padding: 4px 8px;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #c9c9c9;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}


/* Form */

form {
    width: 100%;
}

.spacer {
    display: flex;
    width: 90%;
    margin: auto;
}

#spacer::after {
    white-space: pre;
}

#spacer::before {
    white-space: pre;
}

.picker label, .lnpicker label {
    line-height: 40px;
    font-weight: bold;
    font-size: 17px;
    margin: auto;
}

.picker h2, .lnpicker h2 {
    font-size: 20px;
}

input[type=number], select {
    border: 3px solid #83a2b7;
    width: 100%;
    padding: 6px 2px;
    margin: 0;
    box-sizing: border-box;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    outline: none;
    font-size: 15px;
}

.picker p, .lnpicker p {
    font-size: 0;
    line-height: 0;
}

.Dist {
    padding-bottom:40px;
}

input[type=number]:focus, select:focus {
    border: 3px solid #232A32;
}

input[type=submit] {
    background-color: #191f23;
    border: none;
    color: #dcfdfd;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
}



/* Graph */

.graph {
    text-align: center;
    width: auto;
    height: fit-content;
    margin: auto;
}

.blank_graph {
    line-height: 500px;
    width: 700px;
    height: 450px;
    background-color: #ECF7FF;
    text-align: center;
    margin: auto;
}


/* Misc Divs  */

.centered {
    text-align: center;
}

.left {
    float: left;
    max-width: 50%;
    margin: auto;
}

.right {
    float: right;
    margin:auto;
    max-width: 50%;
}

.title_bar {
    background: #111518;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
    margin-bottom: -20px;
}

.navbar {
    padding-bottom: 0;
    top: 0;
}

.text {
    width: 200px;
}

/* Messages */

.messages {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    overflow: hidden;
    float: left;
    width: 100%;
    margin: auto;
    text-align: center;
    place-content: center;
    padding-bottom: 50px;
    top:0;
}

.alert {
    padding: 15px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    width: 98%;
    text-align: left;
    margin: 5px auto;
}

.success {
    background-color: #04AA6D;
}

.info {
    background-color: #2196F3;
}

.warning {
    background-color: #ffa600
}

.error {
    background-color: #ff0000;
}

.alert_close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}



.picker, .lnpicker {
    display: table;
    padding: 0 10px;
}


/* Style the buttons inside the tab */
.tab_button, .open_graph {
    background-color: #232A32;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    display: block;
    color: #ECF7FF;
    text-align: center;
    font-weight: 600;
    padding: 10px 14px;
    text-decoration: none;
    margin:auto;
}

.tab_button {
    float: left;
}

/* Change background color of buttons on hover */
.tab_button:hover, .open_graph:hover {
    background-color: #191f23;;
    color: #ECF7FF;
}


/* Style the tab content */
.tab {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.tab_bar {
    background-color: #232A32;
    overflow: hidden;

}
